# Entornos virtuales
env/

# Archivos comprimidos
*.zip

# Archivos generados por el sistema operativo
.DS_Store

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración del sistema
*.log

