# Ignorar archivos y carpetas innecesarias

# Archivos Python compilados
*.pyc
*.pyo
__pycache__/

# Archivos específicos del entorno
venv/
.env

# Archivos o datos sensibles
*.log
*.sqlite3

# Archivos específicos del proyecto
potencial.py.DS_Store
*.zip
env/
.DS_Store
potencial.py

*.db
*.txt

# Archivos y carpetas de Node.js
node_modules/

.env
