<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Búsqueda</title>
</head>
<body>
    <h1>Detalle de la Búsqueda</h1>
    <ul>
        <li><strong>Búsqueda:</strong> {{ detalle['búsqueda'] }}</li>
        <li><strong>Potencial:</strong> {{ detalle['potencial'] }}</li>
        <li><strong>Lupa:</strong> {{ detalle['lupa'] }}</li>
    </ul>
    <a href="{{ url_for('historial') }}">Volver al historial</a>
</body>
</html>
