{% extends "base.html" %}
{% block title %}Interfaz LGC{% endblock %}
{% block content %}
<div class="text-center mb-4">
    <h1 class="text-primary">Menú Principal</h1>
    <p class="lead">Selecciona una opción para continuar</p>
</div>
<div class="bg-white shadow-lg rounded-lg p-6 border border-primary hover:bg-primary hover:text-white transition duration-300 transform hover:scale-105">
    <ul class="list-group">
        <li class="list-group-item"><a href="/opcion1" class="bg-gradient-to-r from-primary to-secondary text-white font-bold py-2 px-4 rounded-lg shadow-lg transition hover:from-secondary hover:to-primary">
            1. Calcular Palabras por Frecuencia
          </a>
          </li>
        <li class="list-group-item"><a href="/opcion2" class="btn w-100 shadow transform hover:scale-105 transition duration-300" style="background: linear-gradient(90deg, #50B5E9, #4A90E2); color: white;">2. Calcular Frecuencia de una Palabra</a></li>
    </ul>
</div>
{% if historial %}
<div class="mt-5">
    <h3 class="text-secondary">Historial de Búsquedas</h3>
    <div class="history-container">
        <ul class="list-group">
            {% for item in historial %}
                <li class="list-group-item d-flex justify-content-between align-items-center shadow-sm border border-secondary rounded bg-light transform hover:scale-105 transition duration-300">
                    <i class="bi bi-bar-chart-fill me-2 text-primary"></i> {{ item }}
                    {% if ranking and item.split(":")[1].strip().split(" ")[0].lower() in ranking %}
                    <span class="badge bg-primary ms-2">Puntuación: {{ ranking[item.split(":")[1].strip().split(" ")[0].lower()] }}</span>
                    {% else %}
                    <span class="badge bg-secondary ms-2">Sin puntuación</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}